.App {
  text-align: center;
  height: 100%;
}



html,body, #root{
  height: 100%;
  max-width: 100%;
  text-align: center;
}

#scene {
  height: 100%;
  max-width: 100%;
}


#exhibit{
  border-style: solid;
  height: 50%;
  width: 50%;
  margin:auto;
  

}
